<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>card0_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{445, 496}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card0_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{740, 834}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card0_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{534, 556}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card0_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{267, 635}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card0_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{445, 357}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card0_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 278}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card0_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 675}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{890, 556}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{712, 556}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{674, 0}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{178, 397}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{829, 834}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{356, 635}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{767, 139}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{534, 417}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 79}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{178, 536}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card1_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 258}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card2_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{852, 0}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card2_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 814}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card2_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{731, 417}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card2_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{178, 258}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card3_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{763, 0}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card3_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 79}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card3_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{178, 675}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card3_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 536}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card4_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{678, 278}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card4_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{356, 774}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card4_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{856, 139}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{712, 695}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 675}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_10.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 397}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_11.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{623, 417}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_12.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{267, 774}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_13.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{856, 278}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_14.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 814}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_15.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{623, 695}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_16.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{445, 635}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_17.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{178, 814}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_18.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{267, 357}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_19.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{678, 139}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 218}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{445, 774}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{267, 496}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{500, 218}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{820, 417}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 536}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_8.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{534, 695}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card5_9.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{411, 218}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card6_0.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{801, 556}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card6_1.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{801, 695}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card6_2.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 258}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card6_3.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{89, 397}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card6_4.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{356, 496}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card6_5.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{589, 139}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card6_6.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{500, 79}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>card6_7.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{623, 556}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jieduan.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {738, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{738, 45}</string>
			<key>spriteSourceSize</key>
			<string>{738, 45}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 953}, {738, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>jinengdonghua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 5}, {316, 240}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{320, 256}</string>
			<key>spriteSourceSize</key>
			<string>{320, 256}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{0, 0}, {320, 256}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>kapaibeimian.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{589, 278}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>kapaihuase.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {78, 20}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{80, 20}</string>
			<key>spriteSourceSize</key>
			<string>{80, 20}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{941, 0}, {80, 20}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>kapaishuzi.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {195, 38}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{195, 40}</string>
			<key>spriteSourceSize</key>
			<string>{195, 40}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{534, 834}, {195, 40}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>shandiandonghua.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {350, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{350, 77}</string>
			<key>spriteSourceSize</key>
			<string>{350, 77}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{322, 0}, {350, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		<key>suijipai.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {87, 137}}</string>
			<key>spriteOffset</key>
			<string>{0, 0}</string>
			<key>spriteSize</key>
			<string>{87, 137}</string>
			<key>spriteSourceSize</key>
			<string>{87, 137}</string>
			<key>spriteTrimmed</key>
			<false/>
			<key>textureRect</key>
			<string>{{356, 357}, {87, 137}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>textureFileName</key>
		<string>card_default.png</string>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>card.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>card_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>
